{% extends 'base.html' %}
{% block content %}
<p>Parabéns {{ subscription.name }},</p>
<p>sua inscrição foi realizada em
{{ subscription.created_at|date:"d/m/Y" }}.
</p>
<p>Em breve, entraremos em contato pelo
{% if subscription.phone %}
telefone {{ subscription.phone }}
{% else %}
e-mail {{ subscription.email }}
{% endif %}
</p>
{% endblock content %}