<!doctype html>
<html>
<head>
  <title>Shadowrun Game Page</title>

  <link type="text/css" href="{{ STATIC_URL }}css/style.css" rel="stylesheet" media="screen" />

</head>
<body>
  <img src="{{ STATIC_URL }}img/logo.png" alt="EventeX" />
    <div id="content">
        {% block content %}
        {% endblock content %}
    </div>
</body>
</html>