{% extends 'base.html' %}
{% block content %}
    <h1>Welcome to Shadowrun Fan Page</h1>
      <p>Copiado diretamente da página do EventeX, nem me dei ao trabalho de modificar o número de linhas.</p>
        <p><strong><a href="{% url 'subscriptions:subscribe' %}">Coloque seu nome na lista dos Fans</a></strong></p>
      <p>Se você gostava do jogo do SNES, deve olhar para o novo jogo jogo Shadowrun Returns:</p>
      <p><strong><a href ="http://store.steampowered.com/app/234650/?snr=1_7_15__13">Shadowrun Returns</a></strong></p>
      <p>Para dúvidas, entre em contato com os desenvolvedores <a href="mailto:info@hbs-studios.com">info@hbs-studios.com</a></p>
{% endblock content %}